@media screen and (max-width:1200px) {
    .know__item_04: before {
	    left: 958px;
	}
	.know__item_04:after {
	    left: 638px;
	}
	.take-btn {
	    margin: 21px;
	}
	.know__item-text {
	    font-size: 22px;
	}
	.contacts {
	    width: 85%}
	.lecture {
	    padding: 40px 0 70px 22px;
	}
	.intensiv {
	    background: #f3ebf5;
	}
	.lecture__img {
	    padding-right: 19px;
	}
	.scedule__item {
	    padding-left: 57px;
	}
}
@media screen and (max-width:992px) {
    .scedule {
	    flex-direction: column;
	}
	.know__item_01:before {
	    display: none;
	}
	.know__item_02:before {
	    display: none;
	}
	.know__item_04:before {
	    display: none;
	}
	.know__item_04:after {
	    display: none;
	}
	.know-title {
	    margin: 50px 0 69px 32px;
	}
	.know__item {
	    padding: 50px 10px 0 40px;
	    height: 100%}
	.know {
	    padding-bottom: 50px;
	}
	.take-btn {
	    margin: 50px;
	}
	.lecture__item-text {
	    font-size: 22px;
	}
	.lecture-wrap {
	    background: url(../img/back-right.jpg) no-repeat right top/cover;
	}
	.contacts__wrap {
	    flex-direction: column;
	}
	.contacts__mail {
	    border-bottom: none;
	}
	.contacts__wrap {
	    margin-bottom: 0;
	}
	.ad {
	    margin-left: 0;
	}
	.header-logo {
	    margin: 0;
	    padding: 0;
	}
	.btn-ghost {
	    display: block;
	}
	.form-wrap {
	    display: none;
	}
	.btns-wrap {
	    align-items: center;
	}
	.contacts {
	    width: 50%}
	.more {
	    padding-left: 0;
	}
}
@media screen and (max-width:768px) {
    .indus-back {
	    display: none;
	}
	.intensiv__wrap {
	    padding-left: 0;
	}
	.scedule {
	    padding: 0;
	}
	.more {
	    padding-left: 0;
	}
	.more-text {
	    margin-left: 10px;
	}
	.scedule__item {
	    padding-left: 0;
	    margin: 0 auto;
	}
	.intensive__discription:after {
	    width: 100%}
	.intensive__text {
	    line-height: 26px;
	}
	.know__item {
	    background: rgba(245, 240, 247, .81);
	}
	.more-text {
	    line-height: 13px;
	}
}
@media screen and (max-width:576px) {
    .more {
	    flex-direction: column;
	    margin: 0 auto;
	}
	.more-btn {
	    margin: 0 auto;
	}
	.more-text {
	    margin: 20px auto;
	    text-align: center;
	}
	.btns-wrap {
	    flex-direction: column;
	}
	.video-button {
	    margin: 0 auto;
	}
	.lecture__item {
	    flex-direction: column;
	    margin: 10px 0;
	    text-align: center;
	}
	.lecture__img {
	    width: fit-content;
	    margin: 0 auto;
	}
	.main-title {
	    line-height: 56px;
	    font-size: 65px;
	}
	.main-text {
	    font-size: 35px;
	    line-height: 36px;
	}
	.logo {
	    width: 100%}
	.form {
	    max-width: 100%;
	    padding: 10px;
	}
	.form-element {
	    max-width: 100%}
	.form__title {
	    font-size: 26px;
	}
	.button-wrap {
	    display: none;
	}
	.live-online {
	    display: none;
	}
	.fancybox-content {
	    padding: 44px!important;
	}
	.send {
	    width: auto;
	}
	.contacts {
	    padding-left: 20px;
	}
	.know-title {
	    margin: 40px 0 30px 10px;
	}
	.know__item_00 {
	    display: none;
	}
	.no-gutters {
	    padding: 15px 0;
	    margin: 0;
	}
	.take-wrap {
	    flex-direction: column;
	}
	.take-btn {
	    margin: 5px;
	}
}
